<div class="container">
  <h1>Add a new Dose</h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description  %>
    <%= f.association :ingredient %>
    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>
